/* Stylesheet for the visualization contest at
 * majorleaguedatachallenge.com
 * 
 */

/* Styles for paths and lines of the .axis class */
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
}
